body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
   margin: 0 auto;
 }

header {
   position: sticky; 
   height: auto; width: 100%;
   top: 0;
   background-color: #FF8604;
   color: white;
   
}
footer {
    background-color: rgb(0, 0, 0);
    color: white;
    height: auto; width: 100%;
    padding-bottom: 2%;
 }

 #home {
   font-size: xx-large;
 }

 .navbar {
   text-decoration-line: none;
   font-size: large;
   margin-left: 2%;
   color: white;
 }
 
 .content {
   width: 60%;
   margin: auto;
   font-size: larger;
 }
 
 li {
   text-align: left;
   margin-left: 35%;
 }

 #jdh {
   width: 270px;
   align-items: center;
 }